#alternate-title
  position absolute
  z-index 256
  padding-top 50px
  color white
  bottom 200px

#navigation-arrow
  position absolute
  bottom 20px
  width 100%

.big-text{
  font-size: 8em;
  width: 100%;
  bottom: 10px;
  position: relative;
  top: 80%;
}

.white-text {
  color: #F9FCFC;
}

.black-text{
  color: #38AD9E; 
}

.stay-down {
  padding-top: 2%;
}

body,html {
  height: 100%
}

img{
    max-width: 100%;
}

.more-space {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-div {
  padding-right: 10px;
  padding-left: 10px;
}

.fixed-btn {
  height: 50px;
  width: 50px;
}

#splash {
  min-height: 100%;
  position: relative;
  z-index: 1;
  background: url('../img/me.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

#pattern {
  min-height: 100%;
  width 100%
  background: rgba(grey, .75)
  background-repeat: repeat;
  position: absolute;
  z-index: 2;
}

#left {
  height: 100%;
  background-color: #012D3D;
  height: 100%;
}

#right {
  height: 100%;
}

#right p, h2, h3 {
  padding-left: 15%;
  padding-right: 15%;
}

.icons {
  font-size: 44px;
  position: relative;
}

#contacts {
  padding-right: 10%;
  padding-right: 10%;
  margin-bottom: 10px;  
}

@media screen and (max-width: 991px)
  #alternate-title
    position relative
    color black
    bottom 0