
.icon-twitter-1:before { content: '\e805'; } /* '' */
.icon-linkedin:before { content: '\e806'; } /* '' */
.icon-instagramm:before { content: '\e808'; } /* '' */
.icon-tumblr-squared:before { content: '\e804'; } /* '' */
.icon-facebook-squared:before { content: '\e807'; } /* '' */